<h1><%= @user["id"] %></h1>

<h2><%= @user["username"] %>, <%= @user["password"] %></h2>

<h3>Users</h3>

<ul>
  <% for user in @users %>
    <li>
      <a href="/users/<%= user[username"] %>">
        <%= user["username"] %>, <%= user["email"] %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/user/new?user_id=<%= @company["id"] %>">New Contact</a>
</p>

<p><a href="/users">Back to All Users</a></p>

<p><a href="/companies/<%= @company["id"] %>/edit">Edit Company</a></p>

<form action="/companies/<%= @company["id"] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete Company</button>
</form>