<h1><%= @place["name"] %></h1>

<div class="container">
  <div class="row">

<p>
<a href="/entries/new?place_id=<%=@place["id"]%>" role="button"class="btn btn-outline-dark">New Entry</a>
</p>

<div class="row">
<% for entry in @entries %>
  <div class="col-sm-6 col-md-4">
        <h3><%= entry["title"] %></h3>
    <h4><%= entry["occurred_on"] %></h4>
    <h4><%= entry["place_id"] %></h4>
    <p><%= entry["description"] %></p>
    <% if entry.uploaded_image.attached? %>
    <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
  <% else %>
    <img src="<%= entry["image"] %>" class="img-fluid">
    <% end %>
  </div>

<% end %>
</div>

 <div class="container">

<p>
<a class="btn btn-primary" href="/places" role="button">Back to All Places</a>
</p>

  
  <form action="/places/<%= @place["id"] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-secondary">Delete Place</button>
  </form>
  </p>

  <% User.find_by({ "id" => session["user_id"] }) != nil %>
  <p><a class="btn btn-primary" href="/places/<%= @place["id"] %>/edit">Edit Place</a></p>
